// ********Variables************
//özellikleri değişkenb olarak tanımlayabiliyoruz.
// color
$primary-color :#272727;
$secondary-color:#ff652f;
$text-color:#fff;

// font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// path
$pathNme1 :"../img/model-1.jpg";
$pathNme2: "../img/project-1.jpg";
$pathNme3: "../img/project-2.jpg";
$pathNme4: "../img/project-3.jpg";
$pathNme5:"../img/project-4.jpg";
$pathNme6:"../img/project-5.jpg";
$pathNme7:"../img/project-6.jpg";